body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.one,
.footer {
    background-color: #1F2937;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.one {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
    padding-bottom: 40px;
}

.header > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    width: 75px;
    border-radius: 7px;
    padding: 5px 12px;
    color: white;
    border: none;
}

.one-content {
    display: flex;
    align-self: center;
    padding: 40px 0;
    margin: 0 150px;
    gap: 15px;
}

.left {
    flex: 1;
}

.left > h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.left > p {
    font-size: 18px;
    color: #E5E7EB;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #b7b9bd;
    border-radius: 7px;
}

.right p {
    font-size: 18px;
    color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.top > h1{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.bottom {
    display: flex;
    gap: 30px;
}

.bottom span {
    display: flex;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10%;
    margin-bottom: 10px;
}

.bottom p {
    width: 150px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 61.5px 0;
}

.quote p {
    width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    width: 700px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.four{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.blue {
    height: 80px;
    width: 850px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.text {
    color: white;
}

.text-header {
    font-size: 18px;
    font-weight: bold;
}

.text-body {
    margin-top: -15px;
    font-size: 16px;
}

.btn > button {
    border: 1px solid white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
}